<% include ../partials/head.ejs %> 
<div id="main">
    <main>
        <br>
        <div>
            <div id="bktitle">
                <h1><a id="titleNav" href="/HP_Encyclopedia">Harry Potter Encyclopedia</a></h1>
            </div>
        </div>
        <div class="midNav-container">
            <ul id="midNav-child">
                <li><a href="/HP_Encyclopedia/mainContent/mainSearch">All Categories</a></li>
                <li><a id="charBtn">Characters</a></li>
                <li><a id="potionsBtn">Potions</a></li>
                <li><a id="spellsBtn">Spells & Charms</a></li>
            </ul>
        </div>

        <div id="backNav-container">
            <div id="backNav-child">
                <a href="/HP_Encyclopedia/mainContent/mainSearch"><button id="backBtn">&laquo; Back</button></a>
            </div>
        </div>
        <div class="detail-bkgnd">
            <br>
            <div class="detail-category">
                <h2>~<%=thisEntry.category%>~</h2>
            </div>
            <div class="entry-name">
                <h2><%=thisEntry.name%></h2>
            </div>
            <div class="detail-img">
                <img class="detailImg" src="<%=thisEntry.img%>">
            </div>
            <br>
            <div class="entry-details">
                <table class="details-center">
                    <tr>
                        <th>Date of Birth:</th>
                        <td><%=thisEntry.dateOfBirth%></td>
                    </tr>
                    <tr>
                        <th>Species:</th>
                        <td><%=thisEntry.species%></td>
                    <tr>
                        <th>Description:</th>
                        <td><%=thisEntry.description%></td>
                    </tr>
                    <tr>
                        <th>House:</th>
                        <td><%=thisEntry.house%></td>
                    </tr>
                    <tr>
                        <th>Wand:</th>
                        <td><%=thisEntry.wand%></td>
                    </tr>
                    <tr>
                        <th>Patronus</th>
                        <td><%=thisEntry.patronus%></td>
                    </tr>
                    <tr>
                        <th>Actor</th>
                        <td><%=thisEntry.actor%></td>
                    </tr>
                    <br>
                    <tr>
                        <th></th>
                        <td>
                            <div class="nav-bottom">
                                <div id="nav-bottomEdit">
                                    <a href="/HP_Encyclopedia/mainContent/mainEdit/<%=thisEntry._id%>"><button id="editBtn">Edit</button></a>
                                </div>
                                <div id="nav-bottomDelete">
                                    <form class="deleteBtn" action="/HP_Encyclopedia/mainContent/mainSearch/<%=thisEntry._id%>?_method=DELETE" method="POST">
                                            <input type="submit" id="deleteBtn" value="Delete"/>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <br>
                </table>
                <br>
                <br>
            </div>
        </div>
    </main>
</div>
</body>
</html>