<% include ../partials/head.ejs %>
<body>
<style>
    ul {
        display: inline-block;
        list-style-type: none;
    }
    li {
        text-align: left;
        font-size: 25px;
        text-indent: -20px;
    }
</style>
    <h2 id="hptitle">
        Harry Potter Encyclopedia
    </h2>
    <nav>
        <a href="/HP_Encyclopedia/mainContent/mainNew"><button>Add New</button></a>
    </nav>
    <br>
    <br>
    <div class="mozaicSearch">
        <%for(let i=0; i < allEntries.length; i++){ %>
        <div>
        <a href="#"><img class="entryImg shadowImg child" src="<%=allEntries[i].img%>"          
            dataName="<%=allEntries[i].name%>"
            dataDescription="<%=allEntries[i].description%>"
            dataSpecies="<%=allEntries[i].species%>"
            dataHouse="<%=allEntries[i].house%>"
            dataDateOfBirth="<%=allEntries[i].dateOfBirth%>"
            dataYearOfBirth="<%=allEntries[i].yearOfBirth%>"
            dataWand="<%=allEntries[i].wand%>"
            dataPatronus="<%=allEntries[i].patronus%>"
            dataActor="<%=allEntries[i].actor%>"
            dataImg="<%=allEntries[i].img%>"
            dataLikes="<%=allEntries[i].likes%>"
            enterBtn="<%=allEntries[i]._id%>"
            deleteBtn="<%=allEntries[i]._id%>"
            ></a>
        </div>
        <%}%>
    </div>

    <div id="modal">
        <div class="form-bkgnd">
            <div class="entry-name">
                <h2 id="modalName"></h2>
            </div>
            <div class="detail-img">
                <img id="modalImage" class="detailImg" src="#">
            </div>
            <div class="entry-details">
                <table class="details-center">
                    <tr>
                        <td>Description:</td>
                        <td id="modalDescription"></td>
                    </tr>
                    <tr>
                        <td>Species:</td>
                        <td id="modalSpecies"></td>
                    </tr>
                    <tr>
                        <td>House:</td>
                        <td id="modalHouse"></td>
                    </tr>
                    <tr>
                        <td>Date of Birth:</td>
                        <td id="modalDOB"></td>
                    </tr>
                    <tr>
                        <td>Wand:</td>
                        <td id="modalWand"></td>
                    </tr>
                    <tr>
                        <td>Patronus:</td>
                        <td id="modalPatronus"></td>
                    </tr>
                    <tr>
                        <td>Likes:</td>
                        <td id="modalLikes"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>