<% include ../partials/head.ejs %> 
<body>
  
    <main>
        <br>
        <nav>
            <div id="bktitle">
                <h1><a id="titleNav" href="/HP_Encyclopedia">Harry Potter Encyclopedia</a></h1>
            </div>
        </nav>
        <nav>
            <a href="/HP_Encyclopedia"><button>Home</button></a>
            <a href="/HP_Encyclopedia/mainContent/mainSearch"><button>Search & Index</button></a>
        </nav>
        <br>
        <div class="detail-bkgnd">
            <br>
            <div class="entry-name">
                <h2><%=thisEntry.name%></h2>
            </div>
            <div class="detail-img">
                <img class="detailImg" src="<%=thisEntry.img%>">
            </div>
            <br>
            <div class="entry-details">
                <table class="details-center">
                    <tr>
                        <th>Date of Birth:</th>
                        <td><%=thisEntry.dateOfBirth%></td>
                    </tr>
                    <tr>
                        <th>Species:</th>
                        <td><%=thisEntry.species%></td>
                    <tr>
                        <th>Description:</th>
                        <td><%=thisEntry.description%></td>
                    </tr>
                    <tr>
                        <th>House:</th>
                        <td><%=thisEntry.house%></td>
                    </tr>
                    <tr>
                        <th>Wand:</th>
                        <td>Wood:<%=thisEntry.wand.wood%>; Core:<%=thisEntry.wand.core%>; Length:<%=thisEntry.wand.length%> inches</td>
                    </tr>
                    <tr>
                        <th>Patronus</th>
                        <td><%=thisEntry.patronus%></td>
                    </tr>
                    <tr>
                        <th>Actor</th>
                        <td><%=thisEntry.actor%></td>
                    </tr>
                    <br>
                    <tr>
                        <th></th>
                        <td id="bottomBtns">
                            <nav class="nav-bottom">
                                <ul id="nav-bottomList">
                                    <li>
                                        <a href="/HP_Encyclopedia/mainContent/mainEdit/<%=thisEntry._id%>"><button id="editBtn">Edit</button></a>
                                    </li>
                                    <li>
                                        <form class="deleteBtn" action="/HP_Encyclopedia/mainContent/mainSearch/<%=thisEntry._id%>?_method=DELETE" method="POST">
                                            <input type="submit" id="deleteBtn" value="Delete"/>
                                        </form>
                                    </li>
                                </ul>
                            </nav>
                        </td>
                    </tr>
                    <br>
                </table>
                <br>
                <br>
            </div>
        </div>
    </main>
</body>
</html>